### IDEA ###
.idea
*.ipr
*.iml
*.iws

### Eclipse ###
.project
.classpath
.settings/

### Maven ###
.mvn
mvnw
mvnw.cmd

### Gradle ###
.gradle/
build/

### SYSTEM ###
.DS_Store
Thumbs.db

### Java ###
target/