### IDEA ###
.idea
*.ipr
*.iml
*.iws
HELP.md

### Eclipse ###
.project
.classpath
.settings

### Maven ###
.mvn
mvnw
mvnw.cmd

### Gradle ###
.gradle

### SYSTEM ###
.DS_Store
Thumbs.db

### Java ###
target
build
logs
*.key

